{% extends "base.html" %}
<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Welcome</title>-->
<!--    <link rel="stylesheet" href="{% static 'website/style.css' %}">-->
<!--</head>-->
<!--<body>-->


{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the meeting Planner</h1>
    <p>
        This is the demo application for this course
        <em>Django: getting started</em>
        on <a href="https://www.pluralsight.com">{{x}}</a>
    </p>
    <img src="{% static 'website/img.png' %}" width="100px">
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
<!--            <a href="/meeting/{{meeting.id}}">-->
            <a href="{% url 'detail' meeting.id %}">
                {{meeting.title}}
            </a>

        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms_List</a>

<!--    <p>-->
<!--        There are currently {{num_meetings}} meetings in the database-->
<!--    </p>-->
<!--</body>-->
<!--</html>-->
{% endblock %}