{% extends 'base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Meeting: {{meeting.title}}</title>-->
<!--</head>-->
<!--<body>-->
{% block title %}{{meeting.title}}{% endblock %}

{% block content %}
    <h1>{{meeting.title}}</h1>
    <p>
        This meeting has been scheduled on {{meeting.date}}, at
        {{meeting.start_time}} in <b>{{meeting.room.name}}</b>
    </p>
    <a href="{% url 'welcome' %}">Home</a>

<!--</body>-->
<!--</html>-->
{% endblock %}